$img: '../images/';

$header-height: 3rem;
$footer-height: 3.3125rem;

$primary-color: #8f63cf;
$secondary-color: #6f216d;
$border-color: #e8e8e8;

@media (max-width: 360px) {
	html, body {
		font-size: .96rem;
	}
}
@media (max-width: 320px) {
	html, body {
		font-size: .85rem;
	}
}
@media (min-width: 411px) {
	html, body {
		font-size: 1.1rem;
	}
}
@media (min-width: 768px) {
	html, body {
		font-size: 1.25rem;
	}
}