.nodata-outer {
    .image {
        margin-top: 5.75rem;
        margin-bottom: .875rem;
        text-align: center;
        img {
            width: 11rem;
        }
    }
    .title {
        text-align: center;
        color: #909090;
        font-size: .875rem;
    }
}